/* .container{
	padding-top: 5%;
} */
body{
	background-image:url("https://wallpapercave.com/wp/wp2711114.gif");
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}





.jumbotron {
	background-image:url(https://images.unsplash.com/photo-1441422454217-519d3ee81350?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80);
	opacity: 0.5;
  filter: alpha(opacity=50);
    height:290px;
	width:1145px;

}

#charactersmovie{
	padding: 3%;
	display: flex;
	flex-wrap: wrap;
	
	
}
#contact{
	color:darkred;
	font-size: 25px;
}
#pokemon{
	color: rgb(0, 25, 48);
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
#addCharacterLabel {
	color:darkblue;

}
.movieButtons {
	margin: 5px;
}
.rating{
	font-size: 25px;
	color:black;
}
.charactergif {
	
	margin: 10px;
	
}

div{
	margin-bottom: 2%;
}

.footer {
 
	position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 30px;
  width: 100%;
  
  color: rgb(48, 3, 3);
  text-align: center;
  background-color:rgb(124, 92, 45);
  opacity: 0.9;
  filter: alpha(opacity=50);
  margin: 0%;
}