/* .container{
	padding-top: 5%;
} */
body{
	background:url("images/648624.jpg")
}
iv#pop-out {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,.2);
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}
div#message {
    width: 50%;
    height: 100px;
    margin: 0 auto;
    border: 1px solid red;
    text-align: center;
    line-height: 100px;
}
.jumbotron {
    background-image:url(http://heroimages.s3.amazonaws.com/PokemonSM-RHero.jpg);
    height:290px;
	width:1145px;

}

#charactersmovie{
	padding: 3%;
	display: flex;
	flex-wrap: wrap;
	
	
}
#contact{
	color:darkred;
	font-size: 20px;
}
#pokemon{
	color: aliceblue;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
#addCharacterLabel {
	color:darkblue;

}
.movieButtons {
	margin: 5px;
}
.rating{
	font-size: 25px;
	color:black;
}
.charactergif {
	
	margin: 10px;
	
}

div{
	margin-bottom: 2%;
}
